.input {
  width: 358px;
  margin: 8px 36px 0 36px;
  padding: 0 0 11px 0;
  border: unset;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.input_label, .input_type_error {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 15px;
  margin-left: 36px;
}

.input_label {
  color: #2F71E5;
}

.input_type_error {
  color: red;
  display: block;
  margin-bottom: 30px;
}

.input_type_error:last-of-type {
  margin-bottom: 0;
}

.input_label:first-of-type {
  margin-top: 22px;
}

@media (max-width: 570px) {
  .popup__input {
    width: calc(100% - 32px);
    margin: 8px 16px 30px 16px;
  }
  .input_label {
    margin-left: 16px;
  }
}
